h1, #userInputDiv, table, th {
  text-align: center;
}

.container {
  width: 100%;
  text-align: center;
}

.innerContainer {
  width: 60%;
  margin: 0 auto;
}

#userInputDiv {
  margin-bottom: 20px;
}

#tasksDiv {
  width: 100%;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

td:nth-child(2), td:nth-child(3) {
  border-left: 1px solid #ABB2B9;
  border-right: 1px solid #ABB2B9;
}

tr:last-child td:nth-child(2), tr:last-child td:nth-child(3) {
  border-left: none;
  border-right: none;
}

tr {
  line-height: 2em;
}

tr:nth-child(odd) {
  /*background: rgba(186, 74, 0, 0.2);*/
  background-color: #EAEDED;
}

th {
  background-color: #2471A3;
}

th:first-child {
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

tr:last-child td:last-child {
    border-radius: 0 0 05px 0;
}

.delete {
  background-color: #F2F3F4;
  border-radius: 5px;
  border: none;
}

td:first-child {
  background-color: rgba(52, 152, 219, 0.4);
}

td:last-child {
  background-color: rgba(21, 67, 96, 0.4);
}

#lastRow {
  height: 10px;
  background-color: #2471A3;
}
